<a href="https://colab.research.google.com/github/marco-finger/derLauch/blob/main/01_Basic_Python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<!--BOOK_INFORMATION-->
<img align="left" style="padding-right:10px;" src="https://github.com/sigvehaug/Introduction-to-Python-Programming-For-Medical-Researchers/blob/master/cover-small.jpg?raw=1">

*This notebook contains an excerpt from the [Whirlwind Tour of Python](http://www.oreilly.com/programming/free/a-whirlwind-tour-of-python.csp) by Jake VanderPlas; the content is available [on GitHub](https://github.com/jakevdp/WhirlwindTourOfPython).*

*The text and code are released under the [CC0](https://github.com/jakevdp/WhirlwindTourOfPython/blob/master/LICENSE) license; see also the companion project, the [Python Data Science Handbook](https://github.com/jakevdp/PythonDataScienceHandbook).*

Introduction to Python Programming, 2022-02-15, University of Bern, Sigve Haug

# Basic Python (60 min)

This notebook is a systematic and very condenced overview of
- Python Syntax
- Python Semantics
- Python Operators
- Python Data Types (Built-In)
- Python Data Structures (Built-In)

The content is basic and belongs to necessary knowledge by any Python programmers. One does not learn it by heart, however, after some hours of practicing Python, it automatically becomes active knowledge.

It corresponds to the first six chapters of the book referenced above. There you may get more detailed descriptions.

# Python Syntax

```
# Comments start with a #. They can also come after the code on the same line
print('Hello') # Write Hello

In [ ]:
print("Hello") # Write Hello

Hello

```
# Multiline commands can be written with backslash \ or ()

sum = 2 + 3 + 5 \
      - 5*2
print(sum)
sum = (2 + 3 + 5
      - 5*2)
print(sum)
```

In [ ]:
sum1 = 2 + 3 + 5 \
- 5 * 2 # no indent needed
print("The first sum is", sum1)

sum2 = (2 + 3 + 5
- 5* 2) # no indent needed
print("The second sum is", sum2)

The first sum is 0
The second sum is 0

```
# One may write multiple statements on one line by separating with ;
x=5; y=6; print(x-y)

In [ ]:
x = 5; y = 6; print(x-y) # all comands in a single line

-1

```
# Codeblocks are indicated by intendation and :
for i in range(3):
  sum+=i
print(sum) # Note that Python starts counting at 0
```

In [ ]:
for j in range(3): # range(3) is an array of integers from 0, 1, 2
  sum += j # variable "j" contains the sum over the array being saved into "sum"
print("The sum is", sum) # strings and integer using the prin() function

The sum is 48

```
# Parentheses () Are for Grouping or Calling
y = 2 * (3+4) # Grouping
print(y) # Calling
L = [4,2,3,1]
L.sort()  # Calling
print(L) # Calling
```

In [ ]:
y = 2 * (3+4) # defining the varibale "y" as an arithmetric operation
print(y) # return "y"

L = [4,2,3,1] # lists are written in square-brackets; the list "L" contains 4 items
L.sort()
print(L)

14
[1, 2, 3, 4]

Finishing Up on the Syntax and Learning More

This has been a very brief exploration of the essential features of Python syntax; its purpose is to give you a good frame of reference for when you're reading the code in later sections.
Several times we've mentioned Python "style guides", which can help teams to write code in a consistent style.
The most widely used style guide in Python is known as PEP8, and can be found at https://www.python.org/dev/peps/pep-0008/.
As you begin to write more Python code, it would be useful to read through this!
The style suggestions contain the wisdom of many Python gurus, and most suggestions go beyond simple pedantry: they are experience-based recommendations that can help avoid subtle mistakes and bugs in your code.

#Python Semantics - Variables and Objects

In Python data type declaration on variables is not needed. It has dynamic typing. Most important basic types are natural numbers (integer), real numbers (float), imaginary numbers and text (strings)

```
# Assignment by =
my_variable = 5; print(type(my_variable))
my_variable = 5.0; print(type(my_variable))
```

In [ ]:
var1 = 5; var2 = 5.0
print("First variable is of type:", type(var1), "Second variable is of type:", type(var2))

First variable is of type: <class 'int'> Second variable is of type: <class 'float'>

In Python variables are pointers, i.e. they point to the memory buckets with the actual values. 

In Python everything is an object, it contains not only the value, but also attributes and methods. **Methods are invoked by the dot.**

```
x = 5.1
print(x.is_integer(), x.real, '+',x.imag) # A method and two attributes
```

In [ ]:
x = 5.1
print(x.is_integer()) # checks if x is an integer; output is a boolean variable "True" or "False"
print(x.real, "+", x.imag) # returns the real an imaginary part of x

False
5.1 + 0.0

Alternative way to check for integers and real numbers

In [ ]:
y = 6.1
print(y, "is an integer: ", isinstance(y, int))

z = 6
print(z, "is an integer: ", isinstance(z, int))

6.1 is an integer:  False
6 is an integer:  True

Since everything is an object and variables are pointers, Python becomes its beauty and slowness. Against slowness there is the library NumPy.

# Python Operators

Arithmetic operators

```
# Python arithmetic operators
# addition, subtraction, multiplication
print((4 + 8) * (6.5 - 3))
# True division
print(11 / 2)
# Floor division
print(11 // 2)
# Modulus
print(11 % 2)
# Exponentation
print(4 ** 0.5)
```

In [ ]:
print((4 + 8) * (6.5 - 3)) # brackets are evaluated first and then multiplied
print(11 / 2)
print(11 // 2) # floor(x) gives the largest integer less than or equal to x
print(11 % 2)

42.0
5.5
5
1

There are also bitwise operators. These are rarely used and you can looked them up if you think you need them.

Assignment operators

```
x = 2; x += 2; print(x)
x *= 2; print(x)
print('etc')
```

In [ ]:
x = 2 # variable x is set to 2
x += 2 # to x is added 2
print(x) # the result of 2+2 is obviousely 4

y = 2 # variable y is set to 2
y *= 2 # y is multiplied by 2
print(y) # the result is again 4

4
4

**Comparison operators**


```
print(4 == 6); print(4 != 6); print(4<6); print(4>6); print(4<=6); print(4>=6)
```

In [ ]:
print(4 == 6) # evaluate if 4 equals 6; returns the boolean variable "False" since 4 is not equal to 6
print(4 != 6) # checks if 4 is not equal to 6; returns "True" since 4 is not equal to 6
print(4 < 6) # since 4 is less than 6, this statement is "True"
print(4 > 6) # returns "False" since 4 is not greater than 6
print(4 >= 6) # "False" since 4 is not greater or equal than 6
print(4 <= 6) # "True" since 6 is greater than 4

False
True
True
False
False
True

**Boolean operators**

and, or, not, xor

```
x = 4
print((x < 6) and (x > 2))
print((x > 10) or (x % 2 == 0))
print(not (x < 6))
# (x > 1) xor (x < 10)
print((x > 1) != (x < 10))
```

In [ ]:
x = 4
print((x < 6) and (x > 2)) # first and second comparisons are "True" => entire statement is "True"
print((x > 10) or (x % 2 == 0)) # entire statement is "True", since at least the second statement holds
print(not (x < 6)) # negation of a "True" statement (4 is less than 6) returns "False"
print((x > 1) != (x < 10)) # both statements are fulfilled; overall statement is "False" (only one must be "True")

True
True
False
False

**Identity and Membership Operators**

is, is not, in, not in

```
print(1 is 2)
print(1 is 1)
print(1 in [1, 2, 3])
print(2 not in [1, 2, 3])
```

In [ ]:
print(1 is 2) # 1 is not 2 => "False"
print(1 is 1) # obviousely => "True"
print(1 in [1,2,3]) # 1 is an element of the list
print(5 in range(4)) # 5 is not within the range from 0...3
print(3 in range(4)) # 3 is within the range from 0...3
print(2 not in [1,2,3]) # "False" since 2 is an element of the list
print(4 not in [1,2,3]) # "True" since 4 is not an element of the list

False
True
True
False
True
False
True

# Python Built-In Types

A computer needs to now the data type, i.e. the representation, in order to do calculations. So every computer langueage has built-in types. In Python the simple, in contrast to compund types (data structures), are summarized in the following table:

<center>**Python Scalar Types**</center>

| Type        | Example        | Description                                                  |
|-------------|----------------|--------------------------------------------------------------|
| ``int``     | ``x = 1``      | integers (i.e., whole numbers)                               |
| ``float``   | ``x = 1.0``    | floating-point numbers (i.e., real numbers)                  |
| ``complex`` | ``x = 1 + 2j`` | Complex numbers (i.e., numbers with real and imaginary part) |
| ``bool``    | ``x = True``   | Boolean: True/False values                                   |
| ``str``     | ``x = 'abc'``  | String: characters or text                                   |
| ``NoneType``| ``x = None``   | Special object indicating nulls                              |

```
# Integer
x = -3; print(type(x))
# Float (real numbers)
y1 = 5.3; print(type(y1))
y2 = 6e-4; print(y2)          # Exponential notation - 6 times ten to the minus 4
# Complex
c = 2 + 3j; print(c.real, c.imag)
```

In [ ]:
x = -3; print("The type of x is: ", type(x))
y1 = 5.3; print("The type of y1 is: ", type(y1))
y2 = 6e-4; print(y2) # returns y2 in decimal representation
z = 2 + 4j; print("Real part of z: ", z.real, "Imaginary part of z: ", z.imag) # "j" is used for imaginary unit

The type of x is:  <class 'int'>
The type of y1 is:  <class 'float'>
0.0006
Real part of z:  2.0 Imaginary part of z:  4.0

```
# String
message = 'Hi Bern. We are happy.'
print(message)
# There are attributes and many methods for string objects. Some examples:
print(len(message), message.upper())
response = 'Nice'
print(message,' ',response)
print(message[3:6])
```

In [ ]:
message = 'Hi Bern. We are happy.'
print(message) # returns the original text
print("Number of strings in message:", len(message)) # returns the number of strings (including spaces)
print(message.upper()) # returns the message in upper-case letters
print(message.lower()) # returns the message in lower-case letters
print(message.count("B")) # returns the number of times a specified value occurs in a string (here the letter "B")

Hi Bern. We are happy.
Number of strings in message: 22
HI BERN. WE ARE HAPPY.
hi bern. we are happy.
1

More methods used for strings: https://www.w3schools.com/python/python_ref_string.asp

There is also a None type which has the value 'None' and a Boolean type. If you should encounter then, look them up.

# Python Built-In Data Structures

Python also has several built-in compound types, which act as containers for other types.
These compound types are:

| Type Name | Example                   |Description                            |
|-----------|---------------------------|---------------------------------------|
| ``list``  | ``[1, 2, 3]``             | Ordered collection                    |
| ``tuple`` | ``(1, 2, 3)``             | Immutable ordered collection          |
| ``dict``  | ``{'a':1, 'b':2, 'c':3}`` | Unordered (key,value) mapping         |
| ``set``   | ``{1, 2, 3}``             | Unordered collection of unique values |

As you can see, round, square, and curly brackets have distinct meanings when it comes to the type of collection produced.
We'll take a quick tour of these data structures here.

```
# Lists with some built-in methods
L = [2, 3, 5, 7]
print(len(L))
L.append(11); print(L)
print(L + [13, 17, 19])
L = [2, 5, 1, 6, 3, 4]
L.sort()
print(L)
L = [1, 'two', 3.14, [0, 3, 5]] # Lists can contain various objects
print(L)
```

In [ ]:
L = [2, 3, 5, 7] # List
print("Number of items in the list:", len(L)) # returns the number of items

L.append(11) # appends the number 11 at the end of the list 
print(L)

print(L + [13, 17, 19]) # another list is appended

M = [2, 5, 1, 6, 3, 4] # new list
M.sort() # returns the sorted list
print(M)

N = [1, 'two', 3.14, [0, 3, 5]] # Lists can contain various objects
print(N)

Number of items in the list: 4
[2, 3, 5, 7, 11]
[2, 3, 5, 7, 11, 13, 17, 19]
[1, 2, 3, 4, 5, 6]
[1, 'two', 3.14, [0, 3, 5]]

```
# Indexing and slicing on lists
L=[2,4,5,'madonna']
print(L[0], L[len(L)-1], L[-1]) # Indexing
print(L[2:4]) # Sclicing
print(L[3:], L[:],L[0:-1:2],L[::-1]) # The third argument is the step size
```

In [ ]:
L=[2,4,5,'madonna'] # list of integers and strings
print(L[0]) # returns the first item in L
print(L[len(L)-1]) # returns the second-last item of the list of length len(L)
print(L[-1]) # the index -1 equals the last item
print(L[2:4]) # return the elements with index between 2 and 4
print(L[3:], L[:],L[0:-1:2],L[::-1]) # The third argument is the step size

2
madonna
madonna
[5, 'madonna']
['madonna'] [2, 4, 5, 'madonna'] [2, 5] ['madonna', 5, 4, 2]

In [ ]:
a = [1,5,4,2,4]; print(a) # List
b = 3 * a; print(b)

c = (1,5,4,2,4); print(c) # Tupel
d = 3 * c; print(d)

# e = {1,5,4,2,4}; print(e) # Set
# f = 3 * e; print(f) => error message

[1, 5, 4, 2, 4]
[1, 5, 4, 2, 4, 1, 5, 4, 2, 4, 1, 5, 4, 2, 4]
(1, 5, 4, 2, 4)
(1, 5, 4, 2, 4, 1, 5, 4, 2, 4, 1, 5, 4, 2, 4)

```
# Tuples are like lists, but cannot be changed once defined
t = (2, 3, 5, 7, 11)     # t = 2,3,5,7,11 also works
t[0] = 3 # Not allowed
```

In [ ]:
a = (2, 3, 5, 7, 11)
b = (3, 2, 5, 4, 13)
c = 5 * a; print(c)

(2, 3, 5, 7, 11, 2, 3, 5, 7, 11, 2, 3, 5, 7, 11, 2, 3, 5, 7, 11, 2, 3, 5, 7, 11)

In [ ]:
a = [2, 3, 5, 7, 11]
b = [3, 2, 5, 4, 13]
c = 5 * a; print(c)

[2, 3, 5, 7, 11, 2, 3, 5, 7, 11, 2, 3, 5, 7, 11, 2, 3, 5, 7, 11, 2, 3, 5, 7, 11]

```
# Dictionaries are like a normal language dictionaries, there is a key word (car) for look up and a value, e.g. what is it in German (Auto).
numbers = {'one':1, 'two':2, 'three':3}
print(numbers['two'])
numbers['car']='Auto'
print(numbers)
numbers.get('car')
```

In [165]:
numbers = {'one':1, 'two':2, 'three':3} # defining a dictionary
print(numbers['two']) # returns the value associated to the key "two"
numbers['car']='Auto' # adding the key "car" with its value "Auto" to the list
print(numbers) # returns the entire list (incl. new entry)
numbers.get('car') # returns the value of the key "car"

2
{'one': 1, 'two': 2, 'three': 3, 'car': 'Auto'}

'Auto'

In [183]:
student = {"name": "Marco", "age": 25, "courses": ["Data Science", "Chemistry", "Math", "Pyhsics"]}
print("The name of the student is:", student["name"])
print(student.get("name"))
print(student.get("phone")) # returns "None" if there is no key 
del student["age"]; print(student) # removes the key "age" and its entry
print(student.keys())
print(student.values())
print(student.items())

The name of the student is: Marco
Marco
None
{'name': 'Marco', 'courses': ['Data Science', 'Chemistry', 'Math', 'Pyhsics']}
dict_keys(['name', 'courses'])
dict_values(['Marco', ['Data Science', 'Chemistry', 'Math', 'Pyhsics']])
dict_items([('name', 'Marco'), ('courses', ['Data Science', 'Chemistry', 'Math', 'Pyhsics'])])

The [python documentation](https://docs.python.org/3/library/stdtypes.html) has a complete list of the methods available for dictionaries.

```
# Sets are much like tuples and you can to set mathematics with them
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}
primes.union(odds)
```

In [193]:
primes = {2, 3, 5, 7}
odds = {1, 3, 5, 7, 9}
union1 = primes.union(odds); print(union1)
union2 = odds.union(primes); print(union2)
print(union1 == union2) # both methods yield the same

{1, 2, 3, 5, 7, 9}
{1, 2, 3, 5, 7, 9}
True

```
# Sometimes you need to start with an empty data structure. You create them like this:
L=[]; t=(); dic={}
print(L,t,dic)
```

In [198]:
L=[]; t=(); dic={}
print(L,t,dic) # returns empty list, tuple and dictionary
L=[1]; print(L) # the list "L" is filled with the entry "1"

[] () {}
[1]

** More Specialized Data Structures **

Python contains several other data structures that you might find useful; these can generally be found in the built-in ``collections`` module.
The collections module is fully-documented in [Python's online documentation](https://docs.python.org/3/library/collections.html), and you can read more about the various objects available there.

In particular, I've found the following very useful on occasion:

- ``collections.namedtuple``: Like a tuple, but each value has a name
- ``collections.defaultdict``: Like a dictionary, but unspecified keys have a user-specified default value
- ``collections.OrderedDict``: Like a dictionary, but the order of keys is maintained

Once you've seen the standard built-in collection types, the use of these extended functionalities is very intuitive, and I'd suggest [reading about their use](https://docs.python.org/3/library/collections.html).

# Python custom data structures

Many times we would like to handle data of a specific structure, for example we want to keep track of students of a class or clients of a business. For this purpose one can create custom data structures, this can be achieved by the ``class`` statement. To see a short introduction into classes consult [this link](https://www.mikedane.com/programming-languages/python/classes-objects/). A handy use case for classes can be found [here](https://www.mikedane.com/programming-languages/python/building-a-quiz/).

# Python ``del`` statement

The syntax of the ``del`` statement is:

``del object_name``,

where ``object_name`` can be variable(s), user-defined objects (also classes, attributes of classes), lists, items within lists, dictionaries etc.

** ``del`` removes variable names from the namespace**
As a result of using del one can free up for example some variable names from the namespace. This command doesn't necessarily affect the object associated to the variable name, it frees up just the pointer (so that it can be used for other purposes maybe). However in some memory intensive applications it might be also used to prepare the objects to be erased by the garbage collector of Python.